<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <noscript>
      <meta http-equiv="Refresh" content="0; url='/accessible/create.html'" />
    </noscript>
    <title>New recipe | formulator | chefbot</title>
    <link rel="stylesheet" href="../public/dragula.min.css" />
    <link rel="stylesheet" href="../public/tailwind.min.css" />
  </head>
  <body class="dark:bg-blue-900 bg-blue-50">
    <div id="app">
      <div class="wrapper">
        <input type="text" v-model="name" />
        <div class="container" v-dragula="colOne" bag="first-bag">
          <!-- with click -->
          <div
            v-for="text,i in colOne"
            class="dark:odd:bg-blue-500 dark:bg-blue-600 odd:bg-blue-200 bg-blue-300"
          >
            {{text}} <span @click="remove(i)">[click me]</span>
          </div>
        </div>
        <div>
          <textarea v-model="addtext" type="text"></textarea
          ><button @click="write">write</button>
        </div>
      </div>
    </div>
    <script src="../public/vue.min.js"></script>
    <script src="../public/vue-dragula.min.js"></script>
    <script src="../public/create.js"></script>
  </body>
</html>
