<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <noscript>
      <meta http-equiv="Refresh" content="0; url='/accessible/create.html'" />
    </noscript>
    <title>New recipe | formulator | chefbot</title>
    <link rel="stylesheet" href="../public/dragula.min.css" />
    <link rel="stylesheet" href="../public/tailwind.min.css" />
    <style>
      .skip a {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
      .skip a:focus {
        position: static;
        width: auto;
        height: auto;
      }
    </style>
  </head>
  <body class="dark:bg-blue-900 bg-blue-50">
    <nav
      class="bg-gray-200 dark:bg-gray-800 p-4 grid sm:grid-cols-5 text-lg sticky top-0"
    >
      <a class="sm:col-span-4">chefbot</a
      ><a class="hidden sm:block text-sm">myProfile</a>
    </nav>
    <div class="skip">
      <a href="/accessible/create.html">Go over to accessible page</a>
    </div>
    <div id="app">
      <div
        v-if="!loadfinish"
        class="absolute top-0 left-0 h-full w-full bg-green-200 text-center block cursor-wait select-none"
      >
        <div class="text-lg">Loading Formulator</div>
        <br />Please wait a second…
      </div>

      <div class="wrapper p-2">
        <input type="text" class="p-1 text-lg" v-model="name" id="name" /><label
          for="name"
          >hi</label
        >
        <div
          v-if="colOne.length!=0"
          class="container bg-gray-200"
          v-dragula="colOne"
          bag="first-bag"
        >
          <!-- with click -->
          <div
            v-for="text,i in colOne"
            class="dark:odd:bg-blue-500 dark:bg-blue-600 odd:bg-gray-300 bg-gray-400 p-2"
          >
            {{text}} <span @click="remove(i)">[click me]</span>
          </div>
        </div>
        <div v-else class="p-2 text-xl bg-gray-200">
          Nothing here yet…<br /><sub>(Add steps below)</sub>
        </div>
        <div>
          <textarea v-model="addtext" type="text"></textarea
          ><button @click="write">write</button>
        </div>
        <div>
          <textarea
            v-model="list"
            type="text"
            placeholder="Ingridients"
            id="list"
          ></textarea>
        </div>
      </div>
    </div>
    <script src="../public/vue.min.js"></script>
    <script src="../public/vue-dragula.min.js"></script>
    <script src="../public/create.js"></script>
  </body>
</html>
